<%- include('../partials/header.ejs') %>
<div class="container-fluid mx-auto mt-5">
  <div class="row align-items-center justify-content-center">
    <% topRated.forEach(movie=>{ %>
    <ul>
      <li>
        <a
          class="btn btn-outline-success"
          style="color: black; background-color: #f5c518"
          ><%= movie.name %></a
        >
      </li>
    </ul>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
